.sideNavigation {
  width: 100%;
  max-width: 448px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 11.68px;
  border-radius: 18.69px;
}

@media (max-width: 1200px) {
  .sideNavigation {
    max-width: 320px;
  }
}

@media (max-width: 900px) {
  .sideNavigation {
    max-width: 100%;
  }
}

.membershipImage {
  width: 100%;
  height: 254.23px;
  position: relative;
  overflow: hidden;
  border-radius: 14.26px;
  background: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.membershipImg {
  border-radius: 14.26px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

